# Data files
*.h5
*.mc
*.npy
*.nbi
*.nbc
*.png
*.tsv
*.txt

# Python
*.nbi
*.nbc
*.pyc
*.sh
*/__pycache__/*
src/MotifCompendium.egg-info/*
MotifCompendium.egg-info/*
*.egg-info/

# Jupyter
*/.ipynb_checkpoints

# Sphinx documentation
docs/build/
docs/source/tutorials/tutorial_outputs/

# Personal
personal_tests/
!tutorials/tutorial_outputs/*.html
!tutorials/tutorial_outputs/*.png
