*.h5
*.mc
*.npy
*.nbi
*.nbc
*.png
*.pyc
*.sh
*.tsv
*.txt
*/.ipynb_checkpoints
*/__pycache__/*
src/MotifCompendium.egg-info/*
MotifCompendium.egg-info/*
!tutorials/tutorial_outputs/*.html
!tutorials/tutorial_outputs/*.png