<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataFrame Table</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            font-weight: bold;
        }
        button {
            background: none;
            background-color: #B9FEFF;
            border: 2px solid black;
            border-radius: 3px;
            cursor: pointer;
            font-weight: bold;
            padding: 0 5px;
            margin-left: 5px;
        }
        .cell-edited {
            background-color: #d3a279;
        }
    </style>
    <script>
        function sortTable(columnIndex, ascending) {
            // Load rows
            let table = document.getElementById("DataTable");
            let trs = table.getElementsByTagName("tr");
            let rows = Array.from(trs).slice(2);
            // Sort with custom row-sorting function
            rows.sort((a, b) => {
                let aVal = a.cells[columnIndex].innerText.trim();
                let bVal = b.cells[columnIndex].innerText.trim();
                if (!isNaN(aVal) && !isNaN(bVal)) {
                    aVal = parseFloat(aVal);
                    bVal = parseFloat(bVal);
                } else {
                    aVal = aVal.toLowerCase();
                    bVal = bVal.toLowerCase();
                }
                if (aVal < bVal) {
                    return ascending ? 1 : -1;
                }
                if (aVal > bVal) {
                    return ascending ? -1 : 1;
                }
                return 0;
            });
            // Rebuild rows with new order
            rows.forEach(row => table.appendChild(row));
        }

        function filterTable() {
            // Load rows
            let table = document.getElementById("DataTable");
            let trs = table.getElementsByTagName("tr");
            // Check if there are any active filters
            let inputs = document.getElementsByClassName("filterInput");
            let anyFilters = false;
            for (let z = 0; z < inputs.length; z++) {
                if (inputs[z].value != "") {
                    anyFilters = true;
                    break;
                }
            }
            // Turn rows on or off
            if (anyFilters) {
                // If filters, only display rows that match all current filters
                for (let i = 2; i < trs.length; i++) {
                    let showRow = true;
                    let tds = trs[i].getElementsByTagName("td");
                    for (let z = 0; z < inputs.length; z++) {
                        let filter = inputs[z].value;
                        let col_idx = inputs[z].getAttribute("data-columnindex");
                        let txtValue = tds[col_idx].textContent.trim();
                        if (filter != "") {
                            
                            // Non-case-sensitive search
                            filter = filter.toLowerCase();
                            txtValue = txtValue.toLowerCase();
                        }
                        if (filter != "" && !txtValue.includes(filter)) {
                            showRow = false;
                            break;
                        }
                    }
                    trs[i].style.display = showRow ? "" : "none";
                }
            } else {
                // If no filters, display every row
                for (let i = 2; i < trs.length; i++) {
                    trs[i].style.display = "";
                }
            }
        }

        function checkCellEdited(cell) {
            const originalValue = cell.getAttribute('data-originalvalue');
            const currentValue = cell.textContent.trim();
            if (currentValue !== originalValue) {
                cell.classList.add('cell-edited');
            } else {
                cell.classList.remove('cell-edited');
            }
        }
    </script>
</head>
<body>

<table id="DataTable">
    <tr>
        {% for col in columns %}
            {% if image_column[loop.index0] %}
                <th>{{ col }}</th>
            {% else %}
                <th>
                    {{ col }}
                    <button class="sort-button" onclick="sortTable({{ loop.index0 }}, true)">&uarr;</button>
                    <button class="sort-button" onclick="sortTable({{ loop.index0 }}, false)">&darr;</button>
                </th>
            {% endif %}
        {% endfor %}
    </tr>
    <tr>
        {% for col in columns %}
            {% if image_column[loop.index0] %}
                <td></td>
            {% else %}
                <td><input type="text" class="filterInput" onkeyup="filterTable()" data-columnindex="{{ loop.index0 }}"></td>
            {% endif %}
        {% endfor %}
    </tr>
    {% for row in rows %}
        <tr>
            {% for col in columns %}
                {% if image_column[loop.index0] %}
                    <td><img src="data:image/png;base64,{{ row[col] }}" class="plot-image"></td>
                {% else %}
                    {% if editable %}
                    <!--
                    <td contenteditable="true">{{ row[col] }}</td>
                    -->
                        <td contenteditable="true" oninput="checkCellEdited(this)" data-originalvalue="{{ row[col] }}">{{ row[col] }}</td>
                    {% else %}
                        <td>{{ row[col] }}</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>

</body>
</html>
